@media (min-width: 768px) {
	.exploded th.tool {
		width: 150px;
	}
	.exploded th.service {
		width: 100px;
	}
	.exploded .key .carousel-indicators, .key .carousel-control {
		display: none;
	}
	.exploded .key .carousel-inner {
		display: table;
	}
	.exploded .key .carousel-inner .item {
		display: table-cell;
	}
	.responsive-tool {
	    width: 150px;
	}
	.responsive-node {
	    width: 64px;
	}
}
.qrcode-toggle {
	float: right;
	top: -26px;
	right: -21px;
	position: relative;
}
.qrcode-toggle .qrcode {
	position: absolute;
	right: 0;
	top: -5px;
}

