img.tool {
	vertical-align: top;
	margin-top: 2px;
	width: 16px;
	height: 16px;
}
img.tool.broken {
	visibility: hidden;
}
.img-circle img.tool, .thumbnail img.tool {
	-webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5));
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5));
}
.table td.status,.table th.status {
	width: 10px;
	font-size: xx-small;
	border-right-width: 1px;
	border-right-style: solid;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 0;
	line-height: 36px;
}

.status .status-content {
	background-color: #5cb85c;
	cursor: default;
}

.status.status-up .status-content {
	background-color: #5cb85c;
}

.status.status-down .status-content {
	background: #d9534f;
	font-size: 7px;
    color: white;
	padding-left: 1px;
}

.status.status-unknown .status-content {
	background-color: #337ab7;
}

.refresh .status .status-content {
	background-size: 40px 40px;
	-moz-animation: progress-bar-stripes 2s linear infinite;
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
	cursor: progress;
}

.refresh .status.status-down .status-content {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .15)), to(rgba(255, 255, 255, .15)));
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.refresh .status.status-up .status-content {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .15)), to(rgba(255, 255, 255, .15)));
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.refresh .status.status-unknown .status-content {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .15)), to(rgba(255, 255, 255, .15)));
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.refresh .status .status-content {
	position: relative;
	transition: border-color 0.25s;
}

.refresh .status .status-content:before,
.refresh .status .status-content:after {
	position: absolute;
	z-index: 1;
	border: 2px solid transparent;
	box-sizing: border-box;
	content: '';
 }

.refresh .status .status-content:before {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	animation: 1s top-left-border 0s infinite;
}

.refresh .status .status-content:after {
	width: 0;
	height: 0;
	bottom: 0;
	right: 0;
	animation: 1s border-bottom-border 0.5s infinite;
}

@keyframes top-left-border {
	0% {
		border-top-color: #4b9fd5;
		border-right-color: transparent;
		width: 0;
		height: 0;
	}

	25% {
		border-top-color: #4b9fd5;
		border-right-color: transparent;
		width: 100%;
		height: 0;
	}

	50% {
		border-top-color: transparent;
		border-right-color: #4b9fd5;
		width: 100%;
		height: 100%;
	}
	
	75%,100% {
		border-top-color: transparent;
		border-right-color: transparent;
		width: 100%;
		height: 100%;
	}
}

@keyframes border-bottom-border {
	0% {
		width: 0;
		height: 0;
		border-bottom-color: #4b9fd5;
		border-left-color: transparent;
	}

	25% {
		border-bottom-color: #4b9fd5;
		border-left-color: transparent;
		width: 100%;
		height: 0;
	}
	
	50% {
		border-bottom-color: transparent;
		border-left-color: #4b9fd5;
		width: 100%;
		height: 100%;
	}

	75%,100% {
		border-bottom-color: transparent;
		border-left-color: transparent;
		width: 100%;
		height: 100%;
	}
}

.subscriptions .btn-link {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	border: 0;
}

.subscriptions .features .btn-group {
	padding-top: 1px;
}

.subscriptions .carousel-control {
	background-image: none;
	width: 15px;
}

.subscriptions .carousel-indicators {
	bottom: -22px;
}

.subscriptions .carousel-indicators .active {
	background-color: #bbb;
	width: 12px;
	height: 12px;
}
.subscriptions .carousel-indicators>li:hover {
	border-color: #999;
	background-color: #ccc;
}
.subscriptions .carousel-indicators>li {
	border-color: #aaa;
	width: 10px;
	height: 10px;
}
.subscriptions .carousel-control.left>span, .subscriptions .carousel-control.right>span {
	font-size: 15px;
	color: #ddd;
	margin-top: -15px;
	padding-top: 8px;
}

.subscriptions .features.rendered.detailed {
	white-space: inherit;
}

.subscriptions .carousel-control.right>span {
	margin-right: -24px;
}

.subscriptions .carousel-control.left>span {
	margin-left: -24px;
}

.subscriptions td.features .details {
	float: right;
}

.subscriptions tr.service-kpi-sonar td.features .details {
	font-weight: bold;
}

.subscriptions .key>i, .subscriptions .key .item>i {
	font-size: xx-small;
}
