<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="false">
	<display-name>app-http</display-name>
	<description>SaaS HTTP Server</description>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/META-INF/spring/application.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jExposeWebAppRoot</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>development</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>RestProxy</servlet-name>
		<servlet-class>org.ligoj.bootstrap.http.proxy.BackendProxyServlet</servlet-class>
		<init-param>
			<param-name>proxyToKey</param-name>
			<param-value>saas.endpoint.url</param-value>
		</init-param>
		<init-param>
			<param-name>prefix</param-name>
			<param-value>/rest</param-value>
		</init-param>
		<init-param>
			<param-name>idleTimeout</param-name>
			<param-value>120000</param-value>
		</init-param>
		<init-param>
			<param-name>maxThreads</param-name>
			<param-value>25</param-value>
		</init-param>
		<init-param>
			<param-name>timeout</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>apiKeyParameter</param-name>
			<param-value>api-key</param-value>
		</init-param>
		<init-param>
			<param-name>apiKeyHeader</param-name>
			<param-value>x-api-key</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>PluginProxy</servlet-name>
		<servlet-class>org.ligoj.bootstrap.http.proxy.BackendProxyServlet</servlet-class>
		<init-param>
			<param-name>proxyToKey</param-name>
			<param-value>saas.plugins.endpoint.url</param-value>
		</init-param>
		<init-param>
			<param-name>prefix</param-name>
			<param-value>/main/plugin</param-value>
		</init-param>
		<init-param>
			<param-name>idleTimeout</param-name>
			<param-value>120000</param-value>
		</init-param>
		<init-param>
			<param-name>maxThreads</param-name>
			<param-value>25</param-value>
		</init-param>
		<init-param>
			<param-name>timeout</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>apiKeyParameter</param-name>
			<param-value>api-key</param-value>
		</init-param>
		<init-param>
			<param-name>apiKeyHeader</param-name>
			<param-value>x-api-key</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
		<init-param>
			<param-name>dirAllowed</param-name>
			<param-value>false</param-value>
		</init-param>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>captcha</servlet-name>
		<servlet-class>org.ligoj.app.http.security.CaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestProxy</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PluginProxy</servlet-name>
		<url-pattern>/main/plugin/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>captcha</servlet-name>
		<url-pattern>/captcha.png</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter>
		<display-name>HTML proxy</display-name>
		<filter-name>htmlProxy</filter-name>
		<filter-class>org.ligoj.bootstrap.http.proxy.HtmlProxyFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter>
		<filter-name>staticCache</filter-name>
		<filter-class>com.samaxes.filter.CacheFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>privacy</param-name>
			<param-value>public</param-value>
		</init-param>
		<init-param>
			<param-name>static</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>expiration</param-name>
			<param-value>31556926</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>dosFilter</filter-name>
		<filter-class>org.eclipse.jetty.servlets.DoSFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>maxRequestsPerSec</param-name>
			<param-value>6</param-value>
		</init-param>
		<init-param>
			<param-name>delayMs</param-name>
			<param-value>-1</param-value>
		</init-param>
		<init-param>
			<param-name>maxWaitMs</param-name>
			<param-value>2000</param-value>
		</init-param>
		<init-param>
			<param-name>throttledRequests</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>throttleMs</param-name>
			<param-value>1000</param-value>
		</init-param>
		<init-param>
			<param-name>maxRequestMs</param-name>
			<param-value>2000</param-value>
		</init-param>
		<init-param>
			<param-name>maxIdleTrackerMs</param-name>
			<param-value>5000</param-value>
		</init-param>
		<init-param>
			<param-name>insertHeaders</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>trackSessions</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>captchaFilter</filter-name>
		<filter-class>org.ligoj.app.http.security.CaptchaFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>htmlProxy</filter-name>
		<url-pattern>/index.html</url-pattern>
		<url-pattern>/</url-pattern>
		<url-pattern>/login.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>staticCache</filter-name>
		<url-pattern>/dist/*</url-pattern>
		<url-pattern>/img/*</url-pattern>
		<url-pattern>/main/*</url-pattern>
		<url-pattern>/themes/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>dosFilter</filter-name>
		<url-pattern>/rest/ldap/password/reset/*</url-pattern>
		<url-pattern>/rest/ldap/password/recovery/*</url-pattern>
		<url-pattern>/captcha.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>captchaFilter</filter-name>
		<url-pattern>/rest/ldap/password/reset/*</url-pattern>
		<url-pattern>/rest/ldap/password/recovery/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<error-page>
		<error-code>401</error-code>
		<location>/403.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/503.html</location>
	</error-page>
</web-app>
