#---------------------------------------------------------------
### PURPOSE
# This is a file for maintaining confidential data that must be kept secret to match the IT security policy.
# This includes items like database user names, passwords or other properties deemed to be confidential by TME admins or security specialists

### USAGE
# This file can be conveniently read using the Spring PropertyPlaceholderConfigurer.
# This allows you define foo=bar in this file and access ${foo} in your application context.xml.
# The PropertyPlaceholderConfigurer has an extra advantage that any properties defined here can be also be used in other property files
# since the PropertyPlaceholderConfigurer has support for merging properties.
# As an example, if you defined foo=bar here you could also define something=${foo} in another property file.

### ENCRYPTION
# Properties can be encrypted
# https://wiki.jasig.org/display/CASUM/HOWTO+Use+Jasypt+to+encrypt+passwords+in+configuration+files
#

### FILES
# There is only one file: admin.confidential

### PROPERTY DEFINITION
# The **property names** in this file are defined by the developers.
# Please use sensible and straightforward names that make life easy for the admins

### PROPERTY MAINTENANCE
# The **values** in this file is maintained by system engineers / administrators in shared environments

### LOCATION
# This file is located under $JETTY_HOME/resources/${project.artifactId} which is available on the CLASSPATH of the application

### LIFECYCLE
# Maven will create this file if it does not exist
# - this is a convenient way to ensure that the file name and properties are correct and aligned with the project expectations
#
# Maven never overwrites this file
#---------------------------------------------------------------

#---------------------------------------------------------------
# Developer defines      # Admin maintains
#---------------------------------------------------------------
#database.app.user      = saas
#database.app.password  = secret
#ldap.app.user          = secret
#ldap.app.password      = secret
#smtp.app.user          = secret
#smtp.app.password      = secret
#smtp.app.host          = 127.0.0.1
#smtp.app.from          = smtp.company@sample.com
#smtp.app.port          = 25
