#redirection-tools th:first-child {
	width: 54px;
}
#redirection-tools .radio {
	margin-top: 0;
	margin-bottom: 0;
}
#status thead>tr>th:last-child {
	width: 16px;
}
#redirection-collapse {
	margin-left: -1px;
	margin-right: -2px;
}
.masonry-container-wrapper {
	margin-left: 0;
	margin-right: 0;
}
.masonry-container {
	padding-bottom: 15px;
}
.masonry-container .carousel-inner>.item {
	white-space: nowrap;
	text-overflow: ellipsis;
}
.masonry-container>.node {
	padding: 0 6px 6px 0;
}
.masonry-container>.node>.thumbnail {
	margin-bottom: 0;
	padding: 0;
	border-radius: 0;
	min-height: 80px;
}
.masonry-container>.node .subscriptions {
	margin-bottom: 0 !important;
}
.masonry-container>.node>.thumbnail .caption, .masonry-container>.node>.thumbnail>.details, .masonry-container a, .masonry-container>.node>.thumbnail .btn-link {
	color: #fff;
}
.masonry-container .details .carousel-indicators {
	top: 1px;
	bottom: unset;
	height: 1px;
	width: 100%;
	margin-left: 0;
	left: 0;
}
.masonry-container>.node>.thumbnail .details th>i {
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, .48);
}
.masonry-container>.node.in>.thumbnail>.details {
	display: inherit;
}
.masonry-container>.node>.thumbnail>.details {
	display: none;
}
.masonry-container>.node>.thumbnail>.main>img {
	height: 48px;
	width: 48px;
	opacity: 0.8;
	transition: all 0.2s ease;
}
.masonry-container>.node.in>.thumbnail>.main>img {
	height: 64px;
	width: 64px;
	opacity: 1;
}
.masonry-container>.node>.thumbnail>.main {
	padding: 8px 4px;
	height: 77px;
}
.masonry-container table>thead>tr>th:last-child {
	width: 24px;
}
.masonry-container table>thead>tr>th {
	font-size: xx-small;
	padding-bottom: 3px;
	padding-top: 3px;
}
.masonry-container table>tbody>tr>td {
	border-top-width: 1px;
	border-top-style: solid;
}
.masonry-container table>tbody>tr>td, .masonry-container table>thead>tr>th {
	border-color: rgb(255, 255, 255);
	border-color: rgba(255, 255, 255, .21);
}
.masonry-container>.node:not(.mode-th-list) table>thead>tr>th.zoomable {
	width: 10px;
	box-sizing: border-box;
}
.group-carousel {
	position: relative;
}
.group-carousel .carousel-indicators .active {
	background-color: rgba(204, 204, 204);
	background-color: rgba(204, 204, 204, .54);
	width: 22px;
	height: 22px;
}
.group-carousel .carousel-indicators>li {
	border-color: #ddd;
	width: 18px;
	height: 18px;
}
.mode-th-large .group-carousel .carousel-indicators .active {
	background-color: #bbb;
	width: 22px;
	height: 22px;
}
.mode-th-large .group-carousel .carousel-indicators>li {
	width: 18px;
	height: 18px;
}
.mode-th-large .group-carousel .carousel-indicators>li:hover {
	border-color: rgba(84, 84, 84);
	border-color: rgba(84, 84, 84, .54);
	background-color: rgba(104, 104, 104);
	background-color: rgba(104, 104, 104, .54);
}
.mode-th .group-carousel .carousel-indicators .active {
	width: 20px;
	height: 20px;
}
.mode-th .group-carousel .carousel-indicators>li {
	width: 16px;
	height: 16px;
}

.masonry-container>.node.mode-th-list th.key, .masonry-container.th-list th.features, .masonry-container>.node:not(.mode-th-list) table>thead>tr>th.zoomable.in {
	width: auto;
}
.masonry-container>.node.mode-th-list th.project {
	width: 33%;
}
.masonry-container>.node:not(.mode-th-list) table>tbody>tr>td {
	white-space: nowrap;
	overflow: visible;
}
.masonry-container>.node:not(.mode-th-list) table>tbody>tr.detailed>td {
	overflow: hidden;
}
.masonry-container>.node:not(.mode-th-list) tr.detailed>td.zoomable:not(.in)::before {
	font-family: "Font Awesome 5 Free";
	font-weight: normal;
	content: "\f141";
	padding-left: 2px;
	padding-right: 8px;
	font-size: xx-small;
}
.masonry-container>.node:not(.mode-th-list) tr.detailed>td.zoomable:not(.in)>* {
	display: none;
}
.masonry-container>.node:not(.mode-th-list) tr.detailed>td.zoomable:not(.in) {
	padding-left: 4px;
}
.masonry-container>.node:not(.mode-th-list) .zoomable.in:not(.zoomable-default) {
	background-color: rgba(255, 255, 255, .1);
}

/* Caption */

.masonry-container>.node>.thumbnail .caption, .masonry-container a {
	cursor: pointer;
}
.masonry-container>.node>.thumbnail .caption i.forced {
	color: black;
}
.masonry-container>.node:hover>.thumbnail .caption {
	opacity: 1;
}
.masonry-container>.node>.thumbnail .caption {
	opacity: .7;
	position: absolute;
	top: 10px;
	margin-left: -12px;
	width: 100%;
	padding-right: 0;
	padding-top: 4px;
 }
.masonry-container>.node>.thumbnail .caption>h3 {
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 0;
}

/* Layout configurations */

.masonry-container>.mode-th table>tbody {
	font-size: smaller;
}
.masonry-container>.mode-th-large table>tbody {
	font-size: small;
}

@media (min-width: 768px) {
	.masonry-container>.mode-th-list>.thumbnail>.main, .masonry-container>.mode-th-list>.thumbnail>.main>.caption {
		width: 30%;
	}

	.masonry-container>.mode-th-list>.thumbnail>.details {
		width: 70%;
	}

	.masonry-container>.mode-th-list.in>.thumbnail>.main {
		float: left;
	}

	.masonry-container>.mode-th-list.in>.thumbnail>.details {
		display: inline-block;
	}

	.masonry-container>.node.mode-th-list .counters {
		margin-right: 8px;
	}
}

@media (min-width: 992px) {
	.masonry-container>.mode-th-list>.thumbnail>.main, .masonry-container>.mode-th-list>.thumbnail>.main>.caption {
		width: 25%;
	}

	.masonry-container>.mode-th-list>.thumbnail>.details {
		width: 75%;
	}
}

@media (min-width: 1200px) {
	.masonry-container>.mode-th-list>.thumbnail>.main, .masonry-container>.mode-th-list>.thumbnail>.main>.caption {
		width: 20%;
	}

	.masonry-container>.mode-th-list>.thumbnail>.details {
		width: 80%;
	}
}
.masonry-container .thumbnail>.details, .masonry-container .thumbnail>.details>.scroll-wrapper {
	max-height: 270px;
	overflow-y: auto;
	overflow-x: hidden;
}

/* Tags */

.masonry-container>.node .tag {
	color: rgba(255, 255, 255);
	color: rgba(255, 255, 255, .33);
	font-size: x-small;
	float: left;
	position: relative;
	width: 0;
}
.masonry-container>.node .tag:hover {
	cursor: pointer;
	color: rgba(255, 255, 255);
	color: rgba(255, 255, 255, .8);
}

/* Badges */

.masonry-container>.node .badge.nb-filtered {
	color: #42341d;
	background-color: rgba(169, 128, 66);
	background-color: rgba(169, 128, 66, .48);
	border-color: #faebcc;
}
.masonry-container>.node .badge.nb-total {
	color: #31708f;
	background-color: rgba(217, 237, 247);
	background-color: rgba(217, 237, 247, .46);
	border-color: #bce8f1;
}
.masonry-container>.node .badge {
	cursor: help;
}
.masonry-container>.node .counters {
	position: relative;
	float: right;
	z-index: 1;
}
.masonry-container .counter-project {
	font-size: 10px;
}
.masonry-container .counter-project::before {
	content: "(";
}
.masonry-container .counter-project::after {
	content: ")";
}

/* Tiles color scheme */

.masonry-container>.node.filter-match>.thumbnail {
	border-color: rgb(102, 175, 233);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.masonry-container>.node>tr.filter-match {
	background-color: yellow;
}

/**
 * 	Default theme
 */

.masonry-container>.node>.thumbnail {
	background-color: #337ab7;
	border: none;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(51,122,183,.4);
}

/* Blue theme */
.masonry-container>.node>.thumbnail:hover {
	background-color: #1e5d94;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(30,93,148,.4);
}

.masonry-container.colored>.node:nth-child(1)>.thumbnail {
	background-color: #3f51b5;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(63,81,181,.4);
}
.masonry-container.colored>.node:nth-child(2)>.thumbnail {
	background-color: #e91e63;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(233,30,99,.4);
}
.masonry-container.colored>.node:nth-child(3)>.thumbnail {
	background-color: #00bcd4;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,188,212,.4);
}
.masonry-container.colored>.node:nth-child(4)>.thumbnail {
	background-color: #4caf50;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(76,175,80,.4);
}
.masonry-container.colored>.node:nth-child(5)>.thumbnail {
	background-color: #ffc107;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(255,193,7,.4);
}
.masonry-container.colored>.node:nth-child(6)>.thumbnail {
	background-color: #795548;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(121,85,72,.4);
}
.masonry-container.colored>.node:nth-child(7)>.thumbnail {
	background-color: #607d8b;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(96,125,139,.4);
}
.masonry-container.colored>.node:nth-child(8)>.thumbnail {
	background-color: #f44336;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(244,67,54,.4);
}
.masonry-container.colored>.node:nth-child(9)>.thumbnail {
	background-color: #673ab7;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(103,58,183,.4);
}
.masonry-container.colored>.node:nth-child(10)>.thumbnail {
	background-color: #ff5722;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(255,87,34,.4);
}
.masonry-container.colored>.node:nth-child(11)>.thumbnail {
	background-color: #9c27b0;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(156,39,176,.4);
}
.masonry-container.colored>.node:nth-child(12)>.thumbnail {
	background-color: #2196f3;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(33,150,243,.4);
}
.masonry-container.colored>.node:nth-child(13)>.thumbnail {
	background-color: #8bc34a;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(139,195,74,.4);
}
.masonry-container.colored>.node:nth-child(14)>.thumbnail {
	background-color: #cddc39;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(205,220,57,.4);
}
.masonry-container.colored>.node:nth-child(15)>.thumbnail {
	background-color: #ff9800;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(255,152,0,.4);
}
.masonry-container.colored>.node:nth-child(16)>.thumbnail {
	background-color: #009688;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,150,136,.4);
}
.masonry-container.colored>.node:nth-child(17)>.thumbnail {
	background-color: #ffeb3b;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(255,235,59,.4);
}
.masonry-container.colored>.node:nth-child(18)>.thumbnail {
	background-color: #03a9f4;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(3,169,244,.4);
}

#expand-mode:not(.indent) i.fa-dedent, #expand-mode.indent i.fa-indent {
	display: none;
}
#status td {
	vertical-align: middle;
}
#status td.status-up+td, #status td.status-up+td+td[data-id] {
	background-color: rgba(92, 184, 92, 0.09);
}
#status td.status-down+td, #status td.status-down+td+td[data-id] {
	background-color: rgba(217, 83, 79, 0.09);
}
#status td.status {
	height: 1px;
}
#status td.status .status-content {
	height: 100%;
}

.masonry-container .details .scroll-element.scroll-x {
	display: none !important;
}
